.CardWrapper {
   display: flex;
   justify-content: center;
   a {
      text-decoration: none;
      transition: 0.2s all ease-in-out;
      &:hover {
         box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
         transform: translateY(-5px);
      }
      .Card {
         background: #fff;
         width: 305px;
         height: 482px;
         border-radius: 2%;
         box-shadow: 0px 10px 14px 0px #00000012;
         .CardHead {
            border-radius: 2% 2% 0 0;
            height: 404px;
            background-image: url(../../images/card-bg.png);
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3,
            h4,
            h5 {
               margin: 0;
            }
            .CreatedBy {
               h4 {
                  margin: 16px 0 5px 16px;
                  font-weight: 400;
                  font-size: 12px;
                  color: #f3f3f3;
               }
               h3 {
                  margin-left: 16px;
                  font-weight: 700;
                  font-size: 14px;
                  color: #ffffff;
               }
            }
            .CardName {
               h5 {
                  margin: 0 0 16px 16px;
                  font-weight: 400;
                  font-size: 18px;
                  color: #ffffff;
               }
            }
         }
         .CardFoot {
            height: 78px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            h3,
            h4 {
               margin: 0;
            }
            .Available {
               h4 {
                  font-weight: 400;
                  font-size: 12px;
                  color: #808080;
               }
               h3 {
                  font-size: 16px;
                  font-weight: 600;
                  color: #000;
               }
            }
            .Price {
               display: flex;
               flex-direction: column;
               justify-content: right;
               h4 {
                  margin-left: auto;
                  font-weight: 400;
                  font-size: 12px;
                  color: #808080;
               }
               h3 {
                  font-size: 16px;
                  font-weight: 600;
                  color: #0040e5;
               }
            }
         }
      }
   }
}
